<!DOCTYPE html>
<html ng-app="TimeSuck">
<head>
	<title>TimeSuck</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="app/css/main.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
		<div class="container">
			<div ng-show="!loggedIn">
				<input type="email" placeholder="email" ng-model="login.email"> <input type="password" placeholder="password" ng-model="login.password">
				<button ng-click="loginUser()">Login</button> <a ui-sref="signUp">create an account</a>
			</div>
			<div ng-show="loggedIn">
				<a ui-sref="editProfile">Edit Profile</a> | <a ng-click="logOut()">Logout</a>
			</div>
		</div>
	</nav>

	<div ui-view></div>

	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="app/app.js"></script>

	<!-- Controllers -->
	<script src="app/signup/signup-controller.js"></script>
	<script src="app/navigation/navigation-controller.js"></script>
	<script src="app/profile/edit-profile-controller.js"></script>
	<script src="app/main/main-controller.js"></script>

	<!-- Libraries -->
	<script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
	<script src="node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
	<script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>


</body>
</html>